<section
  class="bg-black h-screen landing-section max-w-screen text-center relative overflow-hidden"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-32 text-[40px] font-sm font-medium">Model 3</h2>
      <p class="text-black text-lg font-medium">A partir de $676,500</p>
      <p class="text-black text-xs">Después de ahorros en combustible</p>
    </header>
    <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
      <div class="flex flex-row gap-4 justify-center">
        <a
          href="#"
          class="text-black bg-white border-[3px] border-white rounded font-sm px-24 py-2 backdrop-blur-sm inline-flex justify-center items-center hover:border-black hover:bg-black hover:text-white transition-colors"
          >Ordenar</a
        >
        <a
          href="#"
          class="text-white bg-black bg-opacity-50 rounded font-sm px-16 py-2 backdrop-blur-sm inline-flex justify-center items-center hover:bg-white hover:text-black transition-colors"
          >Prueba de manejo</a
        >
      </div>
      <div class="pt-5">
        <p class="text-white text-sm">
          El precio de $799,000 no incluye los ahorros en gasolina, impuestos y
          tarifas. Sujeto a cambios.
          <br />
          <strong class="underline"
            >Más información sobre los ahorros de combustible estimados.</strong
          >
        </p>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/model-3.avif"
      alt="Model Y"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
